.nav-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3px;
    margin-right: 50px;
}



#pagebody {
    background: linear-gradient(
  to bottom,
  #118528,
  #118528 50%,
  #ffffff 50%,
  #ffffff
);
/* Control over the stripe width */
background-size: 100% 105px;
}



#productTable {
    background-color: #ffffff;
}



#categoryMenu {
    background-color: black;
    width: 145px;
    border-radius: 125px;
}